<div class="container-fluid p-0 d-flex align-items-center justify-content-center contact-us" id="contact-us">
  <div class="contact-left bg-secondary d-flex justify-content-end">
    <div class="contact-left-text d-flex flex-column">
      <h5>/ Pourquoi nous ?</h5>
      <h3>Vous pouvez suivre l'avancement de votre voiture en ligne</h3>
      <p>Obtenez une suggestion pour chaque anomalie sur votre voiture avec précision. Gérer l'état de santé de votre voiture n'a jamais été aussi facile.</p>
      <div class="d-inline-flex align-items-center contact-left-content">
        <span class="number">01</span>
        <div class=" contact-left-content-right">
          <h5>Obtenez un devis</h5>
          <span>Dites-nous ce dont votre voiture a besoin.</span>
        </div>
      </div>
      <div class="d-inline-flex align-items-center contact-left-content">
        <span class="number">02</span>
        <div class=" contact-left-content-right">
          <h5>Prenez rendez-vous</h5>
          <span>Choississez la date et l'heure qui vous convient.</span>
        </div>
      </div>
      <div class="d-inline-flex align-items-center contact-left-content">
        <span class="number">03</span>
        <div class=" contact-left-content-right">
          <h5>Déposez votre voiture</h5>
          <span>Plus d'attente. Faites réparer votre voiture dès votre arrivée.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 d-flex justify-content-center">
    <form class="contact-form">
      <div class="form-group">
        <label for="name">Votre nom</label>
        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Tapez votre nom.">
      </div>
      <div class="form-group mt-3">
        <label for="email">Votre adresse email</label>
        <input type="email" class="form-control" id="email-contact" aria-describedby="email" placeholder="Tapez votre adresse email.">
        <small id="emailHelp" class="form-text text-muted mt-1">Nous ne partagerons jamais vos coordonnées</small>
      </div>
      <div class="form-group mt-3">
        <label for="textarea">Votre question</label>
        <textarea class="form-control" id="textarea" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-secondary  mt-3">Envoyer</button>
    </form>
  </div>
</div>
