<div class="navbar-light navbar-top d-flex align-items-center p-1">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="d-inline-flex">
      <div class="header">
        <h1 class="sidebar-title">
          Bienvenue Test
        </h1>
      </div>
    </div>
    <div>
      <!-- <div class="btn btn-outline-secondary">
        <fa-icon [icon]="faUser" class="badge rounded-pill text-bg-secondary" size="lg"></fa-icon>
      </div> -->
      <div class="btn btn-secondary">Ajouter une voiture</div>
    </div>
  </div>
</div>
