<div class="banner-hero bg-light d-flex justify-content-center flex-column">
  <div class="hero-banner-title">
    <h1>M1P10MEAN</h1>
    <h2>Nantenaina-Steve</h2>
  </div>
  <div class="hero-banner-content">
    <span class="hero-banner-content-tip">/ Garage pour toutes les marques et modèles</span>
    <div class="hero-banner-content-subtitle">
      <h3>Services Avancées</h3>
      <h3>Réparation de Véhicules</h3>
    </div>
    <button class="btn btn-outline-secondary">En savoir plus</button>
    <div class="hero-banner-content-socials d-flex align-items-center">
      <span>Suivez-nous sur les réseaux</span>
      <fa-icon [icon]="faInstagram" class="hero-banner-content-social" size="2x"></fa-icon>
      <fa-icon [icon]="faFacebook" class="hero-banner-content-social" size="2x"></fa-icon>
      <fa-icon [icon]="faTwitter" class="hero-banner-content-social" size="2x"></fa-icon>
      <fa-icon [icon]="faWhatsapp" class="hero-banner-content-social" size="2x"></fa-icon>
    </div>
  </div>
</div>
