<div class="container-fluid">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Vous cherchez une voiture particulière ?"
      aria-label="search-bill"
      aria-describedby="search-bill"
      [(ngModel)] = 'search' name="search"
    />
    <div class="input-group-append ms-3">
      <span class="input-group-text" id="search-bill">Rechercher</span>
    </div>
  </div>
  <div class="content mt-3">
    <div class="" *ngIf="cars.length === 0">Aucune Facture disponible</div>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel *ngFor="let car of cars | filter: search; let i = index">
        <ng-template ngbPanelTitle>
          <div class="d-inline-flex">
            <h5 class="accordion-title">{{car.make}} {{car.model}} | {{car.vin}}</h5>
          </div>
        </ng-template>
        <ng-template ngbPanelContent class="d-flex">
          <div class="row">
            <div class="panel-left col-2">
              <img
                src="../../assets/img/car_placeholder.jpg"
                alt="card-pic"
                class="card-img-top"
              />
            </div>
            <div class="panel-right col">
              <table matSort class="table table-striped">
                <thead>
                  <tr>
                    <th mat-sort-header="name">Description</th>
                    <th mat-sort-header="state">Avancement</th>
                    <th mat-sort-header="amount">Montant</th>
                    <th mat-sort-header="payment">Etat</th>
                    <th mat-sort-header="action">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let repair of car.deposits[0].repairs; let j = index">
                    <td>{{ repair.name }}</td>
                    <td>{{ repair.state | repairState }}</td>
                    <td>{{ repair.amount | ariary }}</td>
                    <td>{{ repair.payment | paymentState }}</td>
                    <td>
                      <button class="btn btn-outline-secondary"
                        *ngIf="repair.payment === 'pending' && userType ==='res_finance'"
                        (click)="markPaid(repair, i, j)">
                      <!-- <button class="btn btn-outline-secondary" (click)="markPaid(repair, i, j)"> -->
                        Valider paiement
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
<ngx-spinner type="square-jelly-box"></ngx-spinner>
