<div class="container-fluid">
  <div class="row justify-content-around mt-3 px-3">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Recette du mois</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ caMonth | ariary }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Recette du jour</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ caDay | ariary }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Temps de reparation moyenne
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ repairTime }} Heures</div>
                            </div>
                            <div class="col">
                              <fa-icon [icon]="faClock" class="sidebar-icon fa-lg"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row px-3">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Calculer les bénéfices du mois en saisissant les dépenses</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <form #gainForm="ngForm" (ngSubmit)="submitGain()">
                <div class="form-group mt-3">
                  <label for="salary">Salaires</label>
                  <input #nameField="ngModel" type="number" class="form-control" id="salary" aria-describedby="salary" placeholder="Tapez le total des salaires du mois"
                    [(ngModel)]="salary" name="salary"/>
                </div>
                <div class="form-group mt-3">
                  <label for="rent">Loyer</label>
                  <input #amountField="ngModel" type="number" class="form-control" id="rent" aria-describedby="rent" placeholder="Tapez le loyer du mois"
                    [(ngModel)]="rent" name="rent"/>
                </div>
                <div class="form-group mt-3">
                  <label for="buy">Achats des pièces</label>
                  <input #amountField="ngModel" type="number" class="form-control" id="buy" aria-describedby="buy" placeholder="Tapez le total des achats de pièces du mois"
                    [(ngModel)]="buy" name="amount"/>
                </div>
                <div class="form-group mt-3">
                  <label for="other">Autres</label>
                  <input #amountField="ngModel" type="number" class="form-control" id="other" aria-describedby="other" placeholder="D'autres depenses ?"
                    [(ngModel)]="other" name="other"/>
                </div>
                <button
                    type="submit"
                    class="btn btn-secondary mt-3"
                  >
                    Calculer
                </button>
              </form>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Bénéfices</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <span class="gain">{{ gain | ariary }}</span>
            </div>
        </div>
    </div>
  </div>
</div>
